

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF0000;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.text-primary {
  color: #FF0000 !important;
}

.bg-primary {
  background-color: #FF0000;
}

.text-secondary {
  color: #B88383;
}

.border-primary {
  border-color: rgba(199, 194, 194, 1) !important;
}

.bg-secondary {
  background-color: #B88383;
}

.text-primary-dark {
  color: #C30000
}

.form-icon {
  color: #787878;
}

button {
  cursor: pointer;
  outline: none;
}

.box-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box-shadow-full {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 22px 0px;
}

.box-shadow-right-full {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 22px 0px;
}

.transform-translate {
  transform: translate(-50%, -50%) !important;
}

/* .text-grey{
  color: #bf6161 !important;
} */
/* Toast */

.text-list {
  transition: .3s all;
  color: #6D6D6D
}

.navbar .text-list:hover {
  color: #FF0000;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.back-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

input {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1 !important;
    visibility: visible !important;
  }

  to {
    transform: translateX(100%);
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

.slide-in {
  visibility: visible !important;
  opacity: 1 !important;
  animation: slideIn 0.5s ease-out forwards;
}

.slide-out {
  visibility: hidden !important;
  opacity: 0 !important;
  animation: slideOut 0.5s ease-in forwards;
}

.bg-circle {
  background-color: rgba(253, 234, 234, .5);
}

.text-web-primary {
  color: #C30000;
}

.bg-web-primary {
  background-color: #C30000;
}

.swiper-slid {
  padding: 0 25px !important;
}

.swiper-button-next {
  position: absolute !important;
  right: 0px !important;
}

.swiper-button-prev {
  position: absolute !important;
  left: 0px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 20px !important;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  font: 900 !important;
  color: #FF0000;
}

/* model css */

/* CSS Modal Animations */
@keyframes modalFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modalFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes modalScaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes modalScaleOut {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.8);
    opacity: 0;
  }
}

.modal-overlay {
  animation: modalFadeIn 0.3s forwards;
}

.modal-overlay.hide {
  animation: modalFadeOut 0.3s forwards;
}

.modal-content {
  animation: modalScaleIn 0.3s forwards;
}

.modal-content.hide {
  animation: modalScaleOut 0.3s forwards;
}

/* Loader */

.circle-1 {
  border: 4px solid;
  border-right: 4px solid #FF0000;
  border-left: 4px solid transparent;
  border-top: 4px solid transparent;
  border-bottom: 4px transparent;
  animation: animate_1 .85s linear infinite;
  transform: translate(-50%, -50%);
  display: inline;
}

.circle-2 {
  border-right: 4px solid white;
  border-left: 4px solid transparent;
  border-top: 4px solid transparent;
  border-bottom: 4px transparent;
  animation: animate_2 .85s linear infinite;
}

@keyframes animate_1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes animate_2 {
  0% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/* Media Css */

@media (min-width: 100px) and (max-width: 200px) {

  .dash-3 {
    top: 830px;
  }

  .dash-1 {
    top: 185px;
  }

  .dash-2 {
    top: 508px;
  }

  .banner .title h1 {
    font-size: 20px;
  }

  .banner .sub-title span {
    font-size: 18px;
  }
}

@media (min-width: 201px) and (max-width: 279px) {

  .dash-3 {
    top: 775px;
    height: 250px;
  }

  .dash-1 {
    top: 185px;
  }

  .dash-2 {
    top: 490px;
  }

  .banner .title h1 {
    font-size: 20px;
  }

  .banner .sub-title span {
    font-size: 18px;
  }
}

@media (min-width: 280px) and (max-width: 349px) {
  .dash-3 {
    top: 580px;
    height: 230px;
  }

  .dash-2 {
    top: 350px;
    height: 230px;
  }

  .ham-burger {
    width: 22px;
  }

  .banner {
    background-position: 50% 50%;
  }
}

@media (min-width: 350px) and (max-width: 449px) {
  .dash-3 {
    top: 570px;
    height: 230px;
  }

  .dash-2 {
    top: 360px;
  }

  .ham-burger {
    width: 23px;
  }

  .banner {
    background-position: 50% 50%;
  }
}

@media (min-width: 450px) and (max-width: 460px) {
  .dash-3 {
    top: 580px;
  }

  .ham-burger {
    width: 28px;
  }

  .banner .title {
    width: 62%;
    text-align: left;
  }

  .banner-btn {
    text-align: left;
  }

  .banner .sub-title {
    text-align: left;
  }

  .banner {
    background-position: 50% 50%;
  }
}

@media (min-width: 450px) and (max-width: 766px) {
  .dash-1 {
    top: 111px
  }

  .dash-2 {
    top: 320px
  }

  .dash-1 {
    top: 111px
  }

  .ham-burger {
    width: 28px;
  }

  .banner .title {
    width: 62%;
    text-align: left;
  }

  .banner-btn {
    text-align: left;
  }

  .banner .sub-title {
    text-align: left;
  }

  .banner {
    background-position: 50% 50%;
  }
}

@media (min-width: 768px) {
  .ham-burger {
    width: 28px;
  }

  .banner .title {
    width: 60%;
  }

  .banner {
    background-position: 100% 100%;
  }
}

@media (min-width: 820px) {
  .md-box-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

@media (min-width: 1024px) {
  .banner .title {
    width: 50%;
  }
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
